
@font-face {
   font-family: 'digital' ;
   src: url('digital-7.ttf');
}

body{
  background-color: #676389;
  margin-top: 40px;
}

#calculator{
  background-color: #cccccc;
  width: 350px;
  margin: auto;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 5px;
  font-family: Arial, sans-serif;
}

#display{
  width: 286px;
  height: auto;
  background-color: #638970;
  color: #233D2C;
  margin: auto;
  text-align: right;
  font-family: digital, Arial, sans-serif;

}

#mainScreen{
  font-size: 60px;
  padding: 5px;
  max-width: 275px;
  overflow-x: scroll;
}

#mainScreen::-webkit-scrollbar{
	background-color: #638970;
}

#mainScreen::-webkit-scrollbar-thumb{
	background-color: #233D2C;
}

#minorScreen{
  height: 15px;
  font-size: 15px;
  padding: 5px;
  max-width: 275px;
  overflow: hidden;
}

#keypad {
  text-align: center;
  width: 288px;
  height: 380px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 0; /* removes gap between elements */
}

.button {
  display: inline-block;
  background-color: black;
  border-radius: 15px;
  color: #eeeeee;
  margin: 10px 1px 10px 1px;
  width: 70px;
  font-size: 30px;
  line-height: 50px;
}

#equals{
  width: 142px;
  background-color: #F8570C;
  color: white;
}
