
@font-face {
   font-family: 'digital' ;
   src: url('digital-7.ttf');
}

#calculator{
  background-color: grey;
  width: 350px;
  margin: auto;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 5px;
  font-family: Arial, sans-serif;
}

#display{
  width: 286px;
  height: auto;
  background-color: black;
  color: white;
  margin: auto;
  text-align: right;
  font-family: digital, Arial, sans-serif;

}

#mainScreen{
  font-size: 60px;
  padding: 5px;
}

#minorScreen{
  height: 15px;
  font-size: 15px;
  padding: 5px;
}

#keypad {
  text-align: center;
  width: 288px;
  height: 380px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 0; /* removes gap between elements */
}

.button {
  display: inline-block;
  background-color: black;
  color: white;
  margin: 1px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  font-weight: bold;
}

#equals{
  width: 142px;
  color: orange;
}
